header nav ul {
  text-align: center;
  text-decoration: none;
}
header nav ul li a {
  padding: 0px 200px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

.buscar {
  border-radius: 20px;
}

.textocartas {
  padding: 0px;
}

.nav-item {
  width: 150px;
  height: 40px;
}

.row-bares {
  justify-content: center;
  display: center;
  margin: 20px;
  padding: 50px;
}

.card-group {
  padding: 20px;
  padding-top: 200px;
}

.card {
  align-items: center;
}

.bar {
  align-items: center;
  width: 250px;
  height: 200px;
  justify-content: center;
  border-radius: 20px;
}

@media screen and (max-width: 830px) {
  .bar {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 670px) {
  .bar {
    width: 150px;
    height: 200px;
  }
}
@media screen and (max-width: 576px) {
  .bar {
    width: 250px;
    height: 200px;
  }
  .textomockup {
    width: 100%;
    justify-content: center;
    font-size: medium;
    padding-top: 0px;
    padding: 0px 20px 30px 20px;
  }
  .mockup {
    display: none;
  }
  .card-group {
    padding-top: 50px;
  }
  .titulo {
    padding-bottom: 0px;
  }
  .textocarta {
    padding: 20px;
  }
}
.barreco {
  width: 200px;
  height: 200px;
  border-radius: 5%;
}

.titulobar {
  font-weight: bold;
  font-size: 20px;
}

section {
  text-align: center;
  text-decoration: none;
}

.iconmapa {
  width: 80px;
  height: 80px;
}

.letramapa {
  font-size: 20px;
  color: white;
}

.bg-gray {
  background-color: rgb(241, 116, 44);
}

footer {
  text-align: center;
  text-decoration: none;
}

.letrareco {
  font-size: 20px;
}

.estrellas {
  height: 20px;
  width: 100px;
  margin-bottom: 50px;
}

.lfooter {
  background-color: rgb(255, 119, 69);
  padding: 20px;
  border: 40px;
  color: white;
  font-size: 13px;
  text-align: left;
}

.titulo {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding-bottom: 50px;
  color: orangered;
  text-align: center;
}

.textocarta {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 20px;
}

.textoreco {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-decoration: underline;
}

.seccion {
  background-color: orangered;
  display: flex;
  height: 100px;
  align-items: center;
}

.mockup {
  padding-bottom: 100px;
  width: 400px;
  height: 400px;
  text-align: left;
}

.textomockup {
  display: inline;
  color: white;
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.barra {
  max-width: 100%;
}

.mockupo {
  height: 200px;
  width: 200px;
  display: none;
}

.billetera {
  width: 400px;
  height: 400px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.billetera:hover {
  transform: translate(20px, 20px);
}

.sectionbille {
  padding: 40px;
}

@media screen and (max-width: 576px) {
  .sectionbille {
    width: 100%;
    align-items: center;
    display: flex;
    margin: 0px;
  }
  .billetera {
    width: 100%;
  }
  .seccionbilletera {
    display: flex;
    justify-content: center;
  }
  .textoreco {
    padding: 20px;
    font-size: x-large;
  }
}
.textoreco .seccionbilletera .seccionbille {
  text-align: center;
  align-items: center;
}

.dimagen {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.bimagen {
  width: 200px;
  height: 150px;
  border-radius: 40px;
}

@media screen and (max-width: 767px) {
  .bimagen {
    width: 400px;
    height: 200px;
    align-items: center;
  }
}
.linea {
  background-color: orangered;
  color: orangered;
}

.imagen {
  width: 500px;
  display: inline-block;
  justify-content: center;
}

.fondo {
  background-color: orangered;
  padding: 20px;
}

@media screen and (max-width: 680px) {
  .casatomada {
    padding: 0;
    border: 0;
    margin: 0;
  }
  .descuentos2 {
    padding: 20px;
    border: 0;
    margin: 0;
  }
  .imagen {
    width: 100%;
  }
  .volendam {
    padding: 0;
    border: 0;
    margin: 0;
  }
  .textocarta {
    padding: 15px 20px;
  }
  .textotitulo {
    padding: 20px 0px 0px 0px;
  }
}
.somos {
  margin: 50px;
}

.icono {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.comentarios {
  width: 400px;
  height: 300px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 30px;
}

@media screen and (max-width: 576px) {
  .comentarios {
    width: 100%;
    padding: 20px;
    margin: 0px;
  }
}
@media screen and (max-width: 760px) {
  .mapa {
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    border-radius: 10%;
  }
}
@media screen and (max-width: 680px) {
  .body {
    text-align: center;
    align-items: center;
    width: 100%;
  }
}


/*# sourceMappingURL=style.css.map */
