.billetera{
    width: nth($width , 7 );
    height: nth($height , 10 );
    overflow: hidden;
    @include inline;
    @include texto;
    
    &:hover{
        transform: translate(20px, 20px);
    }
}

.sectionbille{
    padding: 40px;
}

@media screen and (max-width:680px){
    .sectionbille{
        width: 500px;
        align-items: center;
        display: flex;
    }
}

.seccionbille{
    text-align: center;
    align-items: center;
}
.dimagen{
    width: nth($width, 5);
    height: nth($height, 8);
    border-radius: 20px;
}

.bimagen{
    width: nth($width , 5 );
    height: nth($width , 4 );
    border-radius: 40px;
}

@media screen and (max-width:767px){
    .bimagen{
        width: nth($width , 7 );
        height: nth($height , 8 );
        align-items: center;
    }
}

.linea{
    background-color: nth($colores , 1 );
    color: nth($colores , 1 );
}