
.imagen{
    width: nth($width, 8 );
    @include inline;
    justify-content: center;
}

.fondo{
    background-color: nth($colores , 1 );
    padding: 20px;
}

@media screen and (max-width:680px){
    .casatomada{
        padding: 0;
        border: 0;
        margin: 0;
    }
    .descuentos2{
        padding: 20px;
        border: 0;
        margin: 0;
    }
    .imagen{
        width: 100%;
    }
    .volendam{
        padding: 0;
        border: 0;
        margin: 0;
    }
    .textocarta{
        padding: 15px 20px;
    }
    .textotitulo{
        padding: 20px 0px 0px 0px;
    }
}

