@media screen and (max-width:760px){
    .mapa{
        text-align: center;
        align-items: center;
        width: 400px;
    }
}

@media screen and (max-width:400px){
    .mapa{
        text-align: center;
        align-items: center;
        width: 300px;
    }
}


