@media screen and (max-width:760px){
    .mapa{
        text-align: center;
        align-items: center;
        width: 100%;
        padding: 30px;
        border-radius: 10%;
    }

}

@media screen and (max-width:680px){
    .body{
        text-align: center;
        align-items: center;
        width: 100%;
    }
}

