.somos{
    margin: 50px;
}

.icono{
    width: nth($width , 2 );
    height: nth($height , 6);
    border-radius: 40px;
}
.comentarios{
    width: nth($width, 7 );
    height: nth($height, 9 );
    overflow: hidden;
    @include inline;
    @include texto;
    margin: 30px;
}

@media screen and (max-width: 576px){
    .comentarios{
        width: 100%;
        padding: 20px;
        margin: 0px;
    }

}